.days {
  grid-column: 1 / -1;
  display: grid;
  grid-template-columns: repeat(7, 1fr);
  text-align: center;
}

.day {
  display: flex;
  padding: 0.4rem;
  color: var(--mustard-200);
}

.day__name {
  margin: auto;
}
