.schedules {
  display: grid;
  grid-template-columns: 1fr 8fr;
  grid-template-rows: 4rem 8fr;
  background: radial-gradient(
    circle farthest-corner at 2.3% 19.3%,
    rgba(180, 180, 180, 0.9) 0%,
    rgba(220, 220, 220, 0.9) 100.2%
  );
}
