.info {
  margin: 0 auto;
  grid-column: 1 / 3;
  padding: 10% 2rem;
}

.info__menu {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.info__detail {
  display: flex;
  gap: 0.8rem;
  align-items: center;
}

.info__copy {
  font-size: 1.6rem;
}
