.home {
  display: flex;
  padding: 0.8rem 0;
}

.home__arrow {
  color: var(--mustard-100);
}

.home__arrow--left {
  padding-left: 0.4rem;
}

.home__arrow--right {
  padding-right: 0.4rem;
}

.home__arrow-icon {
  font-size: 3rem;
  border-radius: 50%;
  background-image: radial-gradient(
    circle,
    var(--sky-blue-400) 55%,
    var(--gray-300) 100%
  );
}

.slider-list {
  height: 100%;
}
