.profile-head {
  display: flex;
  /* color: gray; */
  justify-content: center;
  align-items: center;
  height: 100%;
}

.profile-head__name {
  /* flex-grow: 3; */
  font-size: 20px;
  font-style: italic;
  line-height: 20px;
  padding-left: 5px;
}
.profile-head__container {
  width: 100%;
  height: 100%;
  padding-left: 15px;
  margin-left: 20px;
  position: relative;
  /* width: 80%; */
  /* flex-grow: 1; */
}

.profile-head__container i {
  position: absolute; 
  bottom:0;
  /* border: solid red 2px; */
}

#test__userimageprofile {
  display: none;
  /* visibility: hidden; */
  width:0;
  height: 0;
}
.profile-head__container .edit-userimageprofile {
  right:5px;
}

.profile-head__container .edit-userimageprofile2 {
  right:30px;
  display: none;
}

.profile-head__container .edit-userimageprofile3 {
  right:55px;
  display: none;
}


.profile-head__container img {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  box-shadow: 0 0 2px 2px rgba(116, 147, 179, 8);
}