.config-modal__login {
  border: 1px solid rgba(150, 150, 150, 0.8);
  display: grid;
  grid-template-rows: 25px auto;
  text-align: center;
  padding: 0px 14px 0px 18px;
}

.config-modal__login button {
  margin: 4px 2px;
}
