.footer {
  padding: 2px;
  padding-top: 4px;
  display: flex;
  grid-template-columns: 1fr 1fr;
  text-align: center;
  justify-content: space-around;
  align-items: center;
}

.footer__social-media {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: rgba(120, 120, 120, 0.9);
  font-size: 4.5rem;
}

.footer__social-media:hover {
  margin: 0;
  padding: 0;
  text-decoration: none;
  color: inherit;
  background-image: radial-gradient(
    circle farthest-corner at 12.3% 19.3%,
    rgba(116, 106, 255, 0.4) 0%,
    rgba(95, 209, 249, 1) 100.2%
  );
  background-clip: text;
  -webkit-text-fill-color: transparent;
}

.footer__social-media-icon {
  font-size: 4.5rem;
}
