.teacher-control {
  position: fixed;
  top: 46vh;
  color: var(--accent);
}

.teacher-control--left {
  left: -1rem;
}

.teacher-control--right {
  right: -1rem;
}

.teacher-control__button {
  background-color: transparent;
  border: none;
  cursor: pointer;
}

.teacher-control__icon {
  font-size: 5rem;
}
