.options {
  display: grid;
  list-style-type: none;
  grid-template-rows: repeat(7, 60px);
  padding: 0;
  max-width: 100%;
  margin: 0px;
  z-index: 5;
}

@media (orientation: landscape) {
  .options {
    grid-template-rows: repeat(7, 40px);
  }
}
